 body {
    max-width: 100%;
    background-color: #E5E5E5;
    overflow-x: hidden;
}


.container{
    background-color: #FFF9F4;
    height:715px;

}


.navbar ul li {
    display:inline-block;
   


}
.navbar ul  a{ 
    position:relative;
  left:150px;
  margin:35px;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #111010;
background: #FFF9F4;
}
 .d-flex{
    position:absolute ;
    top:179px;
  background: #FFF9F4;
   
}
.d-flex .logo img{
    position:absolute;
    background: #FFF9F4;
}
.d-flex .content{
    position:absolute;
    left:500px;
   padding:20px;
    background: #FFF9F4;
    width:500px;
   
}
.content h1{
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 80px;
    
    color:black;
    
}
.content h1 span{
    color: #FA804C;

}
.content p{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #3E3E3E;
position: absolute;
width: 357px;
height: 52px;

}
.content .btn{
    padding:10px;
    border-radius: 20px;
    position: absolute;
    top:250px;
    width: 170px;
    height:60px;
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

}
.casual {
  position:absolute;
top: 843px;
left: 120px;

}
.col .card{
width: 370px;
height: 550px;
top: 50px;
background: #FFFFFF;
box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
border-radius: 20px;

}
.col .card-img-top {
 width: 311px;
height: 311px;
left: 200px;
top: 862px;
filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.15));

}
.col .card-title{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #363958;
}
.col .card-text{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #3E3E3E;


}
.card-body span{
    font-family: 'Roboto', sans-serif;   
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;

color: #FA804C;


}
.card-body a{
    display:flex;
    float :right;
}

.formal {
    position:absolute;
  top: 1700px;
  left: 120px;

  }
  .foot {
    position:absolute;
  top: 2400px;
  left: 120px;
  width:100vw ;
  background: white;
    
  }
 
 .foot .card {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background: white;
    
  
 }
  .details .card-title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #363958;
  }
  .details .card-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #3E3E3E;
}
.details .img-fluid{
    position:absolute;
    top:10px;
    left:15px;
    filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.15));
}
.foot .xml{
    position:absolute;
    width:10vw;
    left:600px;
}
/* Mobile */
@media only screen and (max-width: 480px) {
    .container{
        
        width: 415px;
        height: 920px;
        left: -30px;
        top: 0px;
        align-items: center;
    }
    .navbar-brand{
        position: relative;
       left: 16px;
       top: 27px;
    }
    .navbar ul  a{ 
        position: relative;
       left: 329px;
       top: 28px;
      
        
    }
    .d-flex .content{
        position:absolute;
          width:295px;
        height: 176px;
        left: 17px;
        

}
.d-flex .logo img{
    position:absolute;
    width: 315.51px;
    height: 290px;
    left: 17.19px;
    top: 400px;

}
.casual {
 font-family: 'Roboto', sans-serif;  
font-size: 36px;
line-height: 36px;
top: 1000px;
color: #363958;
}
.col .card{
    width: 343px;
    height: 550px;
    top: 50px;
    right:50px;
   align-items: center;
    }
    .formal{
        top: 2800px;
    }
    .formal .col .card{
        width: 343px;
        height: 550px;
        top: 50px;
        right:50px;
       align-items: center;
        }
        .foot .xml{
            top: 2100px;
            left:-220px;
            width: 50%;
           height: 300px;
           object-fit: cover;
         object-position: bottom;
         
        }
        .foot.details{
            display: none;
        }
        .foot .card {
            top:2500px;
           width:316px;
          height:100px;
          
               }
        .details .img-fluid{
            position:absolute;
            top:5px;
            filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.15));
            width:15px;
            left:140px;
        }
        .details .card-title{
            position:absolute;
            font-size: 14px;
            top:15px;
            left:80px;
        }
        .details .card-text{
            position:absolute;
            top:40px;
            font-size: 15px;
           
        }
       
}